* {
    margin: 0;
    padding: 0;

    font-family: "Libertinus Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main_box {
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    position: absolute;
    left: 16px;
    font-size: 30px;
    line-height: 60px;
    cursor: pointer;
    transition: 0.3s linear ;

}


.sidebar_menu {
    position: fixed;
    left: -320px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);

}


.sidebar_menu:hover .btn_two {
    opacity: 1;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(172, 138, 138, 0.807);
    height: 60px;

}


.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}


.sidebar_menu .btn_two i {
    color: grey;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    cursor: pointer;
    transition: 0.3s linear ;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 10px 20px;

}
.sidebar_menu .menu i, a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.sidebar_menu .menu i {
    padding-right: 7px;
}

/* side bar manu hover */

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background-color: rgba(184, 181, 121, 0.741);
    transition: 0.3s ease;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 50px;
    left: 25%;
}

.sidebar_menu .social_media i {
    color: white;
    text-decoration: none;
    opacity: 0.5;
    padding: 0 5px;
}
.sidebar_menu .social_media i:hover {
    opacity: 1;
    transition: transform 0.3s ease;
    transform: scale(1.5);
    
}

#check{
    display: none;
}

.btn_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;
}

#check:checked ~ .sidebar_menu {
    left: 0;
    transition: left 0.9s ease;

}

#check:checked ~ .btn_one i {
    left: -320px;
    /* opacity: 0; */
    /* transition: left 0.5s ease; */
}

#check:not(:checked) ~ .sidebar_menu {
    left: -320px;
    transition: left 0.9s ease;
}