  button{
    background: red;
    color : white;
    font weight : 1px;
  }

  *{
    font-family: courier new;
  }

  h1{
    color:#1b74e4;
  }

  button:hover{
    background-color:aqua;
    color:black;
  }

  button:active{
    background-color:green;
    color:black;
  }



